ol li {
    background-color: yellow;
    font-weight: bolder;
}

.green {
    color: green;
}

.cousin {
    text-transform: uppercase;
}

h1, h3 {
    color: red;  
}

.italic {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

.blue {
    color: blue;
}

.pink {
    background-color: pink;
}

a:hover {
    font-weight: bolder;
}

.stack:hover {
    color: orange;
}

.school:hover {
    color: green;
}

.developer:hover {
    color: black;
}

.devdocs:hover {
    color: yellow;
}

.trybe:hover {
    color: green;
}

