div:hover {
    border: solid 5px;
}

div:nth-of-type(1) {
    background-color: red;
}

div:nth-of-type(2) {
    background-color: orange;
}

div:nth-of-type(3) {
    background-color: green;
}
div:nth-of-type(4) {
    background-color: brown;
}
div:nth-of-type(5) {
    background-color: blanchedalmond;
}

div:nth-of-type(1) h3 {
    font-size: 30px;
}

div:nth-of-type(2) h3 {
    font-size: 27px;
}

div:nth-of-type(3) h3 {
    font-size: 40px;
}

div:nth-of-type(4) h3 {
    font-size: 21px;
}

div:nth-of-type(5) h3 {
    font-size: 17px;
}

div:nth-of-type(2n+1) {
    font-style: italic;
}
