h1 {
    font-size: 65px;
    color: orange;
}

ul {
    background-color: blue;
}

.colors {
    background-color: red;
}

h1 {
    font-family: sans-serif;
}

p {
    font-weight: 600;
    font-size: 3em;
}

body {
    font-size: 16px;
}

ul {
    font-style: italic;
    line-height: 40px;
    text-align: center;
    text-decoration: underline;
}

#yellow {
    background-color: yellow;
}

#red {
    background-color: red;
}

#brown {
    background-color: brown;
}